[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = {extras = ["toml"],version = "*"}
flake8 = "*"
flake8-bugbear = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-freezegun = "*"
responses = "*"
types-requests = "*"

[packages]
colorlog = "~=6.8"
eve = "~=2.1"
flask-apscheduler = "~=1.13"
flask-cors = "~=4.0"
gunicorn = "~=23.0"
openpyxl = "~=3.1"
pandas = "~=2.0"
pika = "~=1.3"
pymysql = "~=1.1"
pyodbc = "~=5.1"
python-dotenv = "~=1.0"
requests = "~=2.32"
slackclient = "~=2.9"
sqlalchemy = "~=2.0"
pymongo = "~=4.8.0"
setuptools = "*"
numpy = "*"

[requires]
python_version = "3.13"

[pipenv]
allow_prereleases = true

[scripts]
black = 'black'
mypy = 'mypy'
flake8 = 'flake8'
test = 'python -m pytest -vx'
