[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = {extras = ["toml"],version = "*"}
flake8 = "*"
flake8-bugbear = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-freezegun = "*"
responses = "*"

[packages]
colorlog = "~=4.1"
eve = "~=1.1"
flask-apscheduler = "~=1.11"
flask-cors = "~=3.0"
gunicorn = "~=20.0"
pandas = "~=1.2"
pika = "~=1.1"
pymysql = "~=0.10"
pyodbc = "~=4.0"
requests = "~=2.23"
slackclient = "~=2.5"
sqlalchemy = "~=1.3"
xlrd = "~=1.2"
xlsxwriter = "~=1.2"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
lint = 'black .'
test = 'python -m pytest'
