[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = {extras = ["toml"],version = "*"}
flake8 = "*"
flake8-bugbear = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-freezegun = "*"
responses = "*"
types-requests = "*"

[packages]
colorlog = "~=5.0"
eve = "~=1.1"
flask-apscheduler = "~=1.11"
flask-cors = "~=3.0"
gunicorn = "~=20.0"
openpyxl = "~=3.0"
pandas = "~=1.0"
pika = "~=1.1"
pymysql = "~=1.0"
pyodbc = "~=4.0"
python-dotenv = "~=0.17"
requests = "~=2.23"
slackclient = "~=2.5"
sqlalchemy = "~=1.4"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
black = 'black'
mypy = 'mypy'
flake8 = 'flake8'
test = 'python -m pytest -vx'
