name: CI python

on:
  push:
    paths-ignore:
      - "README.md"

jobs:
  build_and_test_job:
    runs-on: ubuntu-18.04
    services:
      mongodb:
        image: mongo:4.2.5
        ports:
          - 27017:27017
      mysql:
        image: mysql:5.7
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: unified_warehouse_test
      sqlserver:
        image: mcr.microsoft.com/mssql/server:2019-latest
        ports:
          - 1433:1433
        env:
          ACCEPT_EULA: Y
          SA_PASSWORD: MyV3rY@7742w0rd
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/Pipfile') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Create SQL Server testing database
        run: |
          export SQLSERVER_CONTAINER=`docker ps -q --format "{{.Names}}" | grep sqlserver`
          docker exec $SQLSERVER_CONTAINER bash -lc "/opt/mssql-tools/bin/sqlcmd -U SA -P MyV3rY@7742w0rd -Q \"CREATE DATABASE DartTestDB\""
      - name: Install pipenv
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
      - name: Install dependencies
        run: |
          pipenv install --dev --ignore-pipfile --system --deploy
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Run mypy
        run: |
          mypy .
      - name: Setup the test MLWH database
        run: |
          python setup_test_db.py
      - name: Test with pytest
        run: |
          python -m pytest -vsx
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
